[Desktop Entry]
Encoding=UTF-8
Name=Link to ... bindump works I use first a text file and then a bmp image of Lena
Type=Link
URL=https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fhack4fun.org%2Fh4f%2Fsites%2Fdefault%2Ffiles%2Fbindump%2Flena.bmp&f=1
Icon=text-html
