
<% List.forEach(function(Elem) { %>
<% var H3Class = "" %>
<% if (Control === "albumns") { %>
<% H3Class = "list-group-item-heading" %>
<% } else { %>
<% } %>
<div class="col-lg-4 col-xs-6 text-center">
  <a href="/<%= Control %>/<%= Elem %>" class="list-group-item">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
    <h4 class="<%= H3Class %> ellipsis-of"><%= Elem.split(":")[0] %></h4>

    <% if (Control === "albumns") { %>
    <h5 class="list-group-item-text ellipsis-of"><%= Elem.split(":")[1] %></h5>
    <% } %>
  </a>
</div>
<% }) %>
